/* 定义变量 */
/* 头部公共样式 */
#header {
  background-color: #006699;
  display: flex;
  padding-left: 0.45rem;
  padding-right: 0.45rem;
  height: 45rem;
  color: #fff;
}
#header h4 {
  margin: 0;
  width: 2.85rem;
  text-align: center;
  line-height: 0.45rem;
  font-weight: normal;
}
#header a {
  width: 0.45rem;
  height: 0.45rem;
  position: absolute;
  right: 0;
  top: 0;
  text-align: center;
  line-height: 0.45rem;
  color: #fff;
}
